.parent {
  overflow: hidden;
  animation: slip-up 0.5s ease-in-out;
}

.image-container {
  transition: transform 0.5s ease-in-out;
}

.text-container {
  
}

.parent:hover .image-container {
  transform: scale(1.1);
}

.parent:hover .text-container {
  text-decoration-line: underline;
}

@keyframes slip-up {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
