.parent {
  overflow: hidden;
}

.image-container {
  transition: transform 0.5s ease-in-out;
}

.text-container {
  margin-left: 0.25em;
  transition: transform 0.5s ease-in-out;
}

.parent:hover .image-container {
  transform: scale(1.1);
}

.parent:hover .text-container {
  transform: translateX(+25%);
}
